{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Account</h1>
</div>

<div class="row">
    {% if image %}
    <img src="data:;base64,{{ image }}"/>
    {% else %}
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
    </svg>
    {% endif %}
    <h3>{{ current_user.username }}</h3>
    {% if current_user.first_name or current_user.last_name%}
    <p>{% if current_user.first_name %}{{ current_user.first_name }}{% endif %} {% if current_user.last_name %}{{ current_user.last_name }}{% endif %}</p>
    {% endif %}
    <p>{{ current_user.email }}</p>
</div>

<div class="row">
    <a href="{{ url_for('wishlist') }}">Your Wishlist</a>
    <a href="{{ url_for('account_edit') }}">Edit Account</a>
    <a href="{{ url_for('account_delete') }}">Delete Account</a>
</div>
{% endblock %}
