<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chickens "R" Us</title>
    <link rel="apple-touch-icon" sizes="180x180"
          href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='favicons/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#000000">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="{{ url_for('static', filename='favicons/browserconfig.xml') }}">
    <meta name="theme-color" content="#000000">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="height:2000px">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row flashed-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<header>
    <!--Navigation Bar-->
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
        <a href="#"
           class="navbar-brand mb-0 h1">
            <img
            class="d-inline-block align-middle"
            src="http://127.0.0.1:5000/static/images/chicken.jpeg"
            width="60" Height="80" >
            Chickens "R" Us
        </a>
        <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        class="navbar-toggler"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse.navbar-collapse"
            id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link active">
                        Home
                    </a>
                </li>
                <!-- DROPDOWN BUTTON FOR USER HERE -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"
                     id="navbarDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false"
                     >
                       User
                    </a>
                    <ul class="dropdown-menu"
                    aria-labelledby="navbarDropdown">
                      <li><a href="#"
                      class="dropdown-item">Login</a></li>
                      <li><a href="#"
                      class="dropdown-item">Logout</a></li>
                      <li><a href="#"
                      class="dropdown-item">Sign-Up</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Listing
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        Cart
                    </a>
                </li>
            </ul>
        </div>
     </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Search Bar  -->
    <form class="d-flex">
        <input type="text" class="form-control me-2">
        <button type="submit" class="btn
         btn-outline-success" >Search</button>
    </form>
</header>

<div class="container">
    {% block content %}{% endblock %}
</div>

<footer>
    <!--  TODO: Legal Information  -->
</footer>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
