{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('home') }}">Home</a>

<h1>{{ listing.listing_name }}</h1>
    <p><b>Price:</b> ${{ listing.price }}</p>
    <p><b>Date Posted:</b> {{ listing.date_posted }}</p>
    <div class="row">
    <img src="data:;base64,{{ image }}"/>
    </div>
    <body>{{ listing.listing_description }}</body>
    <div>
    <form method="post" >
    {{ form.hidden_tag() }}
        {{ form.submit() }}
    </form>
    </div>
    <div>
    <form method="post" >
    {{ addCart.hidden_tag() }}
        {{ addCart.submit() }}
    </form>
    </div>
{% endblock %}
