{% extends "base.html" %}

{% block content %}
<a href="{{ url_for('home') }}">Home</a>

<div class="row">
    <h1>Post Listing</h1>
</div>

<div class="row>">
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.listingTitle.label }}<br>
            {{ form.listingTitle(size=32) }}
        </p>
        <p>
            {{ form.listingPrice.label }}<br>
            {{ form.listingPrice(size=32) }}
        </p>
        <p>
            {{ form.listingDescription.label }}<br>
            {{ form.listingDescription(size=150) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</div>

{% endblock %}
