{% extends "base.html" %}

{% block content %}
<div class="row">
    <h1>Search Results</h1>
</div>

<div class="row">
    {% for result in results %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ result.name }} (${{ result.price }})</h5>
            <p class="card-text">Posted: {{ result.date_posted }}</p>
            <a href="{{ url_for('listing', listing_id=result.id) }}" class="btn btn-danger">View Listing</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
